#news_header
  THE DEVELOPER
.col-md-1
.col-md-3
  #block_summary
    Привет, я Ruby on Rails разработчик. Я занимаюсь программированием около 5 лет и из них где-то год на Ruby и мне очень нравится этот язык. Пока у меня не много проектов, но я учусь и развиваюсь в этой области, изучаю Backbone и Angular..
    %br
    2010 - 2016:
    Образование: Высшее (?)
    Специальность: Системный программист
    %br
    2015 - ... Ninja-Team

.col-md-4
  #block_photo

.col-md-3
  #block_skills
    Веб-программирование: RoR, HTML5, CSS3, JS, PosygreSQL
    %br
    Веб-технологии: системы управления версиями (GIT), ООП, MVC, AJAX, jQuery, Twitter Bootstrap
    %br
    Прикладные: Ruby, C#, Java, SQL