.col-md-1
.col-md-10
  #skills_list
    - @skills = %w(Devise Omniauth CarrierWave/Paperclip CanCanCan Ranask Devise Omniauth CarrierWave/Paperclip CanCanCan Ranask)
    %ul.nav.nav-pills.nav-justified
      
      %li.active{:role => 'presentation'}
        %a Bootstrap

      - @skills.each do |skill|
        %li{:role => 'presentation'}
          %a #{skill}
  #demo_skill