.fullpage
  .section
    #section1.slide
      = render 'static_pages/first_page'
    #section2.slide
      = render 'static_pages/second_page'
    -##section3.slide
    -#  = render 'static_pages/third_page'