.col-md-6
  .skill_info

.col-md-6
  - if user_signed_in?
    Hi,
    = current_user.email
    = link_to('LogOut', destroy_user_session_path, :remote => true)
  - else
    = render 'skills/devise/sign_in', resource: resource