.col-md-5.large_height
  = form_tag '/dropzone_files', method: :post, class: 'dropzone drop_form', id: 'media-dropzone' do
    .fallback
      = file_field_tag 'media', multiple: true
  #image_show
.col-md-7
  #media-contents
    - dropzone_files.reverse.each do |media|
      - if media.file.file.exists?
        .thumbnail{onClick: "showImage('#{media.file.url}')"}
          = image_tag media.file.url