%h1
  Omniauth
  %br
  Не работает с аяксом

- resource_class.omniauth_providers.each do |provider|
  = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)#, remote: true
  %br