.jumbotron
  .container
    = form_for Video.new, remote: true do |f|
      .form-group
        = f.text_field :link, class: 'form-control youtube_link'
        %br
        = f.submit '+ Add', class: 'btn btn-default'


#youtube_videos
  = render 'videos/all_video'