.jumbotron
  .container
    = form_for Video.new, remote: true do |f|
      .input-group
        %span.input-group-btn
          = f.submit '+', class: 'btn btn-default'
        = f.text_field :link, class: 'form-control youtube_link', :placeholder => 'Video link...'

#youtube_videos
  = render 'videos/all_video'