.col-md-6
  .jumbotron
    .container
      = form_for Video.new, remote: true do |f|
        .input-group
          = f.text_field :link, class: 'form-control youtube_link', :placeholder => 'Video link...'
          %span.input-group-btn
            = f.submit '+', class: 'btn btn-info'
  #youtube_player
.col-md-6
  #youtube_videos
    = render 'videos/all_video'