#errors_login_out {
  color: red;
}

.login_field {
  margin-bottom: 15px;
  padding: 5px;
}

.input-group {
  margin-bottom: 5px;
}

.form-control {
  font-size: 18px !important;
  height: auto !important;
}

.omniauth_icons {
  width: 32px;
  height: 32px;
}