.thumbnail {
  display: inline-block !important;
  max-width: 250px;
}

.drop_form {
  width: 100%;
  overflow: auto;
}

.large_height {
  margin-top: 10px;
}

#media-contents {
  overflow: auto;
  height: 660px;
}