.drop_form {
  width: 100%;
  overflow: auto;
}

#media-contents {
  overflow: auto;
  height: 650px;
  text-align: left;
}

.avatar_drpz {
  display: inline-block;
  text-align: justify;
  margin-right: 5px;
}
.userinfo_drpz {
  display: inline-block;
  text-align: justify;
  top: -10px;
  position: relative;
}

.delete {
  padding: 0 5px;
}