.thumbnail {
  display: inline-block !important;
  max-width: 250px;
}

.drop_form {
  width: 100%;
  overflow: auto;
}

.large_height {
  margin-top: 10px;
}

#media-contents {
  overflow: auto;
  height: 650px;
  text-align: left;
}

#image_show {
  margin-top: 15px;
  width: 100%;
}