#news_header {
  font-size: 9em;
  font-family: Myriad;
  text-decoration: overline underline;
}

#block_summary {
  display: block;
  font-size: 1.3em;
  font-family: Myriad;
}

#block_photo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image-url("photo.jpg");
  width: 100%;
  height: 500px;
}