#news_header {
  font-size: 9em;
  font-family: Myriad;
  text-decoration: overline underline;
}

#block_summary {
  display: block;
  font-size: 1.3em;
  font-family: Myriad;
}

#block_photo {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image-url("photo.jpg");
  width: 100%;
  height: 500px;
}

#block_skills {
  display: block;
  font-size: 1.3em;
  font-family: Myriad;
}

#skills_list {
  border: 1px dotted red;
  overflow: auto;
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
  padding: 20px;
}

#demo_skill {
  border: 1px dotted red;
  height: 700px;
  padding: 15px;
}

.skill_show_block {
  height: 660px;
  overflow: auto;
}

#map{
  margin-top: 10px;
  overflow: hidden;
  width: 95%;
  height: 95%;
  background-color: #fffdf8;
  display: inline-block;
}

.skill_info {
  border: 1px solid red;
  width: 100%;
}